@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* font-family: "Poppins", sans-serif; */
}
.font {
  font-family: "Poppins", sans-serif;
}
@layer utilities {
  .wrapper {
    @apply bg-no-repeat bg-center bg-cover transition-colors duration-700 ease-in-out;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
  }

  .dark .wrapper {
    background-image: linear-gradient(
      -225deg,
        #1a123c 0%,
  #34125e 29%,
  #a8124b 67%,
  #bbaa00 100%
    );
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 20px 0;
}
input {
  padding: 10px 0 10px 5px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
input::placeholder {
  color: #000;
  font-size: 0.7rem;
}
.btn {
  outline: none;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}
.center {
  transform: perspective(1000px) translate(-50%, -50%);
  transform: skewY(10deg);
  transition: 0.5s;
  position: relative;
}

.center:hover {
  transform: perspective(1000px) translate(-50%, -50%);
  transform: skewY(0deg);
}

.center h1 span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 12rem;
  color: #f8f9fa;
  transform-style: preserve-3d;
  transition: 0.8s;
}

/* Clip Path Adjustments */
.center h1 span:nth-child(1) {
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}

.center h1 span:nth-child(2) {
  color: #000;
  transform: translate(-50%, -50%) skewX(-60deg);
  left: -38px;
  clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
}

.center h1 span:nth-child(3) {
  transform: translate(-50%, -50%) skewY(0deg);
  left: -76px;
  clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
}

.center:hover h1 span:nth-child(2),
.center:hover h1 span:nth-child(3) {
  transform: translate(-50%, -50%) skewX(0deg);
  left: 0;
  color: #f8f9fa;
}

.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  --size-of-icon: 1.4em;
  --slider-offset: 0.3em;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .center h1 span {
    font-size: 100px;
  }
}

@media (max-width: 480px) {
  .center {
    transform: perspective(500px) translate(-50%, -50%);
    transform: skewY(5deg);
  }

  .center h1 span {
    font-size: 50px;
  }

  .center h1 span:nth-child(2),
  .center h1 span:nth-child(3) {
    left: -20px;
  }
}

.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
